.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 10px;
    width: 100%;
}


.playlist-heading {
    display: flex;
    width: 100%;
    margin: 10px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    align-items: center;
}

.Playlist-save {
    margin: 25px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: #1ac054;
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.Playlist-save:hover {
    cursor: pointer;
    background-color: #1aa34a;
    color: white;
}

.Playlist-Name {
    border: none;
    border-bottom: 1px solid #1ac054;
    background-color: #19141400;
    color: white;
    font-size: 24px;
    margin: 25px;
}

.Playlist-Name:focus {
    border: none;
    outline: none;
}

