.track {
    border: 1px solid rgb(0, 255, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.track-info {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 75%;
    justify-content: space-between;
}

.commands {
    display: flex;
    justify-content: center;
    align-items: center;
}